# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# apiCongif.json
# add your own apiConfig.json in the src/components/ directory
# structure it in the following manner:
# {
#   "key" : "***************************" // your nasa api key here
# }
# also paste the same file in the src/actions directory
/src/components/apiConfig.json
